.choice-card {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    /* shadow effect */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}

.choice-card-icon {
    -fx-fill: #000000;
}

.choice-card--selected {
    -fx-background-color: #DAE9FF;
    -fx-border-color: #2383E2;
    -fx-border-width: 2px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    /* shadow effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}

.light-gray-bg {
    -fx-background-color: #f5f5f5;
}

.choice-continue-btn {
    -fx-background-color: #2383E2;
    -fx-text-fill: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.choice-continue-btn:hover {
    -fx-background-color: #1a6bbd;
}

.choice-continue-btn--disabled {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.choice-continue-btn--disabled:hover {
    -fx-background-color: #e0e0e0;
}

.cancel-btn {
    /* blue glowing effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0.5, 0.1), 5, 0, 0, 1);
    -fx-border-width: 1px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.cancel-btn:hover {
    /* underline */
    -fx-underline: true;
}

.input {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 9px;
    -fx-border-radius: 9px;
    -fx-padding: 10px;
    /* shadow effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}