.popover {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-text-fill: #333333;
}

.popover .label {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* add some mouse effects to the popover-item class */
.popover-item {
    -fx-padding: 5;
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: #333333;

}

.popover-item:hover {
    -fx-background-color: #e5e5e5;
}

.popover-item:pressed {
    -fx-background-color: #d5d5d5;
}

